@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

#fundo-index {
	background-image: url(https://s1.1zoom.me/b5050/96/228755-Sepik_1366x768.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#container-index {
	display: grid;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
	margin-left: 15vh;
	margin-right: 15vh;
	height: 80%;
	border-radius: 20px;
}

#texto-index {
	display: grid;
	align-items: center;
	justify-content: center;
}

#texto-index h1,h3,h4 {
	text-align: center;
	color: white;
}

  

.error {
	color: red;
	font-size: 14px; 
}

#centro-mapa {
	display: grid;
	align-items: center;
	justify-content: center;
	height: 520px;
	width: 520px;
	border: 2px solid rgb(0, 0, 0);
	background-color: black;
	border-radius: 20px;
}

#centro {
	display: grid;
	align-items: center;
	justify-items: center;
}

#fundo {
	background-color: antiquewhite;
	
}

#container {
	display: grid;
	align-items: center;
	justify-content: center;
	background-color: bisque;
	margin-left: 15vh;
	margin-right: 15vh;
	height: 90%;
}

#texto {
	display: grid;
	align-items: center;
	justify-content: center;
}

#texto h1,h3 {
	text-align: center;
	color: white;
}

.mapa {
	height: 500px;
	width: 500px;
}
 
#resultado-vitoria {
	display: none;
}

#resultado-derrota {
	display: none;
}


#button-inicio {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #000000;
  }
  
#button-inicio:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #000000;
  }
  
#button-inicio:active {
    transform: scale(0.9);
  }